<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TopNav component</title>

    <link href="/css/app.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="sg-titleBox">
        <h1 class="sg-title">TopNav component example</h1>
      </div>

      {{>TopNav}}

    </div><!-- /.container -->

    <script src="app.js"></script>
  </body>
</html>
