<div class="topNav">
    <p class="topNav-title">
        Today is --WEEK_DAY_NAME-- and the month is --MONTH_NAME-- 
    </p>

    <p class="topNav-subTitle">
        LEVO HAS OFFICES IN SYDNEY NSW AND MELBOURNE VIC. 
    </p>

    <ul class="evennav-list evennav-nojs">
        <li class="evennav-item">
            <a href="#" class="evennav-btn">
                <span class="evennav-btninner">
                    List item
                </span>
            </a>
        </li>

        <li class="evennav-item">
            <a href="#" class="evennav-btn">
                <span class="evennav-btninner">
                    List item
                </span>
            </a>
        </li>


        <li class="evennav-item">
            <a href="#" class="evennav-btn">
                <span class="evennav-btninner">
                    List item with a very very really really long title
                </span>
            </a>
        </li>

        <li class="evennav-item">
            <a href="#" class="evennav-btn">
                <span class="evennav-btninner">
                    List item
                </span>
            </a>
        </li>

        <li class="evennav-item">
            <a href="#" class="evennav-btn">
                <span class="evennav-btninner">
                    List item
                </span>
            </a>
        </li>
    </ul>
</div>