<div class="topNav {{theme}}">
    <div class="row">
        <p class="topNav-title col-sm-6 col-xs-12">
            Today is --WEEK_DAY_NAME-- and the month is --MONTH_NAME--
        </p>

        <p class="topNav-subTitle col-sm-6 col-xs-12">
            LEVO HAS OFFICES IN SYDNEY NSW AND MELBOURNE VIC.
        </p>

    </div>

    <div class="row">
        <ul class="evennav-list evennav-nojs">

            {{#if isLargeMenu}}
                {{#each theme2MenuItems}}
                    <li class="evennav-item">
                        <a href="#" class="evennav-btn">
                    <span class="evennav-btninner nav-btn">
                        {{this}}
                    </span>
                        </a>
                    </li>
                {{/each}}

            {{else}}
                {{#each theme1MenuItems}}
                    <li class="evennav-item">
                        <a href="#" class="evennav-btn">
                    <span class="evennav-btninner nav-btn">
                        {{this}}
                    </span>
                        </a>
                    </li>
                {{/each}}
            {{/if}}

        </ul>
    </div>
</div>